button {
  margin-left: 5px;
  background-color: var(--btn-secondary-btn-bg);
  color: var(--button-text);
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: var(--btn-secondary-btn-hover);
}