<div class="overlay">
  <div class="modal">
    <button class="close" (click)="close()">✕</button>
    <div class="body">
      <h2>Create Account</h2>
      <form>
        <label>
          First Name
          <input type="text" [(ngModel)]="firstName" name="firstName" />
        </label>
        <label>
          Last Name
          <input type="text" [(ngModel)]="lastName" name="lastName" />
        </label>
        <label>
          Email
          <input type="email" [(ngModel)]="email" name="email" />
        </label>
        <label>
          Password
          <input type="password" [(ngModel)]="password" name="password" />
        </label>
        <p class="message" *ngIf="message">{{ message }}</p>
      </form>
    </div>
    <div class="bottom-bar">
      <button class="submit" type="button" (click)="register()">Register</button>
    </div>
  </div>
</div>
